<div class="yaml-node @(Node.Kind == NodeKind.Main ? "tree-container" : "") dotted-tree-line @ExpandedCollapsedClass" style="@($"margin-left: 1em")">
    <div class="node-header">
        @{
            var withArrow = Node.Children.Length > 0 || Node.Kind == NodeKind.Main;
            if (withArrow)
            {
                <i class="arrow-right @(ExpandedCollapsedClass) @(CanToggle ? "" : "no-toggle")" onclick="@Toggle"></i>
            }
            
            <i class="node-icon @(GetIconClass()) @(withArrow ? "with-arrow" : "")"></i>

            var title = Node.Kind.ToString().ToLowerInvariant();
            if (!string.IsNullOrEmpty(Node.Value))
            {
                <p><span class="Value">@Node.Value</span><span class="title with-value">@title</span></p>
            }
            else
            {
                <p><span class="title">@title</span></p>
            }
        }
    </div>
    <div class="node-children @ExpandedCollapsedClass">
        @{
            foreach (var node in Node.Children)
            {
                <YamlNode Node="@node" />
            }
        }
    </div>
</div>
